/*
  * Author: Nathan Boisleux 2024 *
*/
/* FONT IMPORT  */
@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

/* LIGHT THEME BODY VARIABLES*/
body[data-theme="light"] {
    --text: #212121;
    --background: #ffffff;
    --primary: #0028ad;
    --secondary: #d4d6df;
    --accent: #00ff00;
}

/* DARK THEME BODY VARIABLES */
body[data-theme="dark"] {
    --text: #dedede;
    --background: #000000;
    --primary: #527aff;
    --secondary: #1f253a;
    --accent: #00ff00;
}
:root {

    --non-changeable-white: #ffffff;
    --non-changeable-black: #212121;
    --non-changeable-secondary: #F2F4FB;

    --shadow: rgba(0, 0, 0, 0.2);
    --bxs: 0 .5rem 1rem var(--shadow);

    --error: #cc0033;
    --light-error: #ffa8a8;

    --linearPrimarySecondary: linear-gradient(#0028ad, #b2b7cb);
    --linearPrimaryAccent: linear-gradient(45deg, #0028ad, #00ff00);
    --linearSecondaryAccent: linear-gradient(#b2b7cb, #00ff00);
    
    --tr: .2s;
}
/* GLOBAL PARAMETERS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: 1em;
    font-family: "REM", sans-serif;
    background-color: var(--background);
}

body, html {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}